@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@media (prefers-color-scheme: light) {
  :root {
    --background--color: #d3f8e2;
    --text--color: #a9def9;
    --color--second: #e4c1f9;
    --color--third: #ede7b1;
    --color--effect: #f694c1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background--color: #141c2f;
    --text--color: #fff;
    --color--btn: #0078fe;
    --color--card: #1f2a48;
    --container--card: #141c2f;
    --color--effect: #185abc;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text--color);
  background-color: var(--background--color);
  min-height: 100%;
  font-family: 'Red Hat Mono', monospace;
  font-weight: 400;
  font-size: 1rem;
}
